view,
navigator,
input,
scroll-view {
  box-sizing: border-box;
}

button::after {
  border: none !important; // 去掉button 组件自带的边框线
}
button[disabled] {
  background-color: rgba($color: #3655af, $alpha: 1) !important;
  color: #a4a8b1 !important;
}

swiper,
scroll-view {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

image {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
/** 设置页面背景图 */
.page-bgimg {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
}

/**
 * 多行省略，范围是1～7
 * @example: class="ellipsis7"
 */
@for $i from 1 to 7 {
  .ellipsis#{$i} {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
  }
}
// flex 居中
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// 毛玻璃背景
.glass-bg {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/** 按钮 */
.m-btn {
  background-color: $uni-color-primary;
  color: white;
}
.m-color {
  color: $uni-color-primary;
}
/** 主背景色 */
.m-bg {
  background-color: $uni-color-primary;
}
.m-bg-linear {
  background-image: linear-gradient(to bottom, #37ecba 0%, #72afd3 100%);
}
.m-linear-box {
  background-image: linear-gradient(to bottom, #37ecba 0%, #72afd3 100%);
  width: 100%;
  border-radius: 20rpx;
}
.m-bottom-b {
  border-bottom-width: 1rpx;
  border-color: $uni-border-color;
}
