@import './mixin.scss';

// 主题变量清单查看此文件：
// https://github.com/Moonofweisheng/wot-design-uni/blob/master/src/uni_modules/wot-design-uni/components/common/abstracts/variable.scss
:root,
page {
  box-sizing: border-box;
  --wot-color-theme: #2d77ff;
  // --wot-color-success: #8076a3;
  --wot-input-icon-size: '20px';
  --wot-input-placeholder-color: '#9097a0';
}

.wd-cell-group,
.wd-cell-group__body {
  background-color: transparent !important;
}

.wd-cell {
  background-color: transparent !important;

  &__wrapper {
    align-items: center !important;
  }

  &:after {
    content: '';
    text-decoration: none;
    position: absolute;
    width: 90%;
    left: 0;
    margin-left: 5%;
    border-bottom: rgba($color: $uni-border-color, $alpha: 0.7) 1rpx solid;
  }

  &:last-child:after {
    display: none;
  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;

    .wd-icon__image {
      object-fit: contain;
      width: 40rpx;
      height: 40rpx;
    }
  }

  &__title {
    padding-left: 10rpx;
    padding-top: 10rpx;
    padding-bottom: 5rpx;
  }

  &__arrow-right {
    color: rgba($color: black, $alpha: 0.5) !important;
    scale: 1.2;
  }
}

.wd-input {
  @include glass-bg(1);
  border-radius: 20rpx;
  padding: 20rpx;
}
// 亮色主题
.wot-theme-light {
}

// 暗色主题
.wot-theme-dark {
  body {
    color: #f5f5f5;
    background-color: black;
  }
}
